* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    background-color: #A6ACF7;
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #8B8DB9;
    border: 2px solid #FCFCD4;
    width: 500px;
    height: 200px;
    margin-top: calc(60vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    color: #FCFCD4;
    font-size: xx-large;
    text-transform: uppercase;
}

.number {
    color: #FCFCD4;
    font-size: xx-large;
    text-transform: uppercase;
}

.hidden {
    display: none;
}