* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    background-color: rgb(81, 81, 81);
}

main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: rgb(157, 157, 157);
    border: 2px solid gold;
    width: 500px;
    height: 200px;
    margin-top: calc(60vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}