* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    background-color: #A6ACF7;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #8B8DB9;
    border: 2px solid #FCFCD4;
    width: 500px;
    height: 200px;
    margin-top: calc(60vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    
}

.hidden {
    display: none;
}